html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.device {
    width: 700px;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;
    z-index: 0;
}

.trigger.a {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    z-index: 110;
    margin-left: 210px;
    top: 720px;
    overflow: hidden;
    line-height: 30em;
}

.trigger.b {
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    z-index: 110;
    margin-left: 95px;
    top: 770px;
    overflow: hidden;
    line-height: 30em;
}

.trigger.reset {
    display: block;
    width: 100px;
    height: 80px;
    position: absolute;
    z-index: 110;
    left: 50%;
    top: 890px;
    margin-left: 20px;
    overflow: hidden;
    line-height: 20em;
}

#map {
    width: 480px;
    height: 485px;
    position: absolute;
    margin-left: -225px;
    left: 50%;
    margin-top: -345px;
    top: 50%;
    overflow: hidden;
    border-radius: 10px;
    border-bottom-right-radius: 80px;
    z-index: 100;
}

.gmnoprint {
    display: none;
}
